<div class="row">

</div>
<div *ngIf="loggedUser._id===user._id" class="row">
<a [routerLink]="['../']" class="waves-effect waves-light btn"> Edit your profile </a>
</div>
<div class="row">
        <div class="col s12 m12">
          <div class="card darken-1">
              <span class="card-title"><h2>{{user.username}}</h2></span>
              <h5 *ngIf ="user.invest">{{user.role}}</h5>
              <h5 *ngIf ="!user.invest">€0</h5>

            <div class="card-action">
              <a href="#">Contact</a>
              <a href="#"></a>
            </div>
          </div>
        </div>
      </div>
      <a [routerLink]="['../']" class="waves-effect waves-light btn"> Back to full list </a>
