<div class="row main-container">
  <div class="row">

    <div class="container">

      <div class="col s12 m6 lg4 slider-container">
        <div class="slider">
          <ul class="slides">
            <li>
              <div>
                <h1>Invest now, contribute to the future</h1>
              </div>
            </li>
            <li>
              <div>
                <h1 class='money'>{{totalInvestment | currency:'EUR':true}} currently looking to be invested</h1>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="chart col s12 m6 lg4">
        <canvas *ngIf='chartDisabled === false' baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]='barChartColors'></canvas>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col s12 m6 lg4">
        <div class="chart">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [colors]="doughnutChartColors">
          </canvas>



        </div>

      </div>
      <div class="col s12 m6 lg8">

        <img src="http://i.imgur.com/PFgrpAS.png" class='home-image' alt="">
        <img src="http://i.imgur.com/lWb8ydi.png" class='home-image' alt="">

        <h3>Join our early birds community and enjoy the ride</h3>

      </div>

    </div>

  </div>
<div class="row link-contain">
  <a class ='links' *ngIf='!loggedUser' [routerLink] = "['/signup']">
    Interested? Sign up now
  </a>
</div>
</div>
