.container{
  margin: auto;
}
.home-image{
  height: 150px;
  padding-left: 40px;
  padding-top: 50px;
}
h1{
  font-weight: bolder;
  color: white;
}
.image-container{
  padding: 30px
}
.money{
  color:#184242;
}
.chart{
  margin-left: 10px;
  display: inline-block;
}
h3{
  padding-top: 25px;
  font-weight: bolder;
  color: rgba(0,0,0,0.8);
}
ul, li{
  background-color: rgba(0,0,0,0);
}
.link-contain{
  padding: 40px;
  text-align: center;
}
.links{
  color: maroon;
  display: inline;
  font-weight: bolder;
  font-size: 3.8rem;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
}
.links:hover{
  color:white;
}
.slider .slides{
   background-color: rgba(0,0,0,0);
 }
 .main-container{
   padding-top: 40px;
   background: linear-gradient(180deg, #2b7b7b, rgba(108, 183, 183,0));
    background-size: 100% 100%;
    width: 100%;


-webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;

 }


 @-webkit-keyframes AnimationName {
     0%{background-position:0% 130%}
     50%{background-position:80% 50%}
     100%{background-position:0% 100%}
 }
 @-moz-keyframes AnimationName {
     0%{background-position:0% 100%}
     50%{background-position:80% 50%}
     100%{background-position:0% 100%}
 }
 @keyframes AnimationName {
     0%{background-position:0% 100%}
     50%{background-position:80% 50%}
     100%{background-position:0% 100%}
 }

@media (max-width: 600px) {
  h1, h3, links {
    text-align: center;
    font-size:2.5rem;
 }
 .home-image{
   padding-left: 30px;;
   margin: auto;
}
 .slider{
   max-height: 200px;
   background-color: rgba(0,0,0,0);
 }

li, ul{
   max-height: 200px;
 }
}
