.col{
  padding: 15px;
}

h2 {
  color: maroon;
  padding: 15px;
  font-weight: 600;
  text-align: center;
  padding-top: 10px;
}
.chart-container{
  padding:35px;
}
.money{
  font-weight: bolder;
  color: #36654e;
}
.card{
  background-color: #edfff6;
}
h5{
  padding: 1.44rem;
  font-weight: lighter;
}
.waves-effect{
  margin: 4px;
  float: right;
  background-color: #e1d1d1;
  color: maroon;
}

h4{
  font-weight: normal;
  display: inline;
  text-align: right;
  padding-left: 15px;
}
label{
  font-size: 17px;
  padding-left: 15px;
}
