<div class="" *ngIf="startup">



  <div class="row">
    <div class="col s12 m12">
      <div class="card darken-1">
        <span class="card-title"><h2>{{startup.username | capitalize}}</h2></span>
        <div class="row">

          <div class="col s12 m4 lg4">
            <h5 for="">Industry</h5>
            <h4>{{startup.start_datasheets.category | capitalize}}</h4>
          </div>
          <div class="col s12 m4 lg4">
            <h5 for="">Currently looking for</h5>
            <h4>{{startup.start_datasheets.lookingfor}}</h4>
          </div>
          <div class="col s12 m4 lg4">
            <h5 for="">Investment goal</h5>
            <h4 class="money">{{startup.start_datasheets.budget | currency:'EUR':true}}</h4>
          </div>
        </div>
        <div class="row">

          <div class="col s12 m8 lg8">
            <h5 for="">AQUI VAN GRAFICOS</h5>
            <h4>{{startup.start_datasheets.category | capitalize}}</h4>
          </div>

          <div class="col s12 m4 lg4">
            <h5 for="">What kind of investment are we looking for?</h5>
            <h4>{{startup.start_datasheets.investinterest| capitalize}} term</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<a *ngIf="startup && loggedUser && loggedUser._id === startup._id"[routerLink]="['../']" class="waves-effect waves-light btn"> Edit your profile </a>
<a [routerLink]="['../']" class="waves-effect waves-light btn"> Back to full list </a>
<a *ngIf='startup' [routerLink]="['/message',startup._id]" class="waves-effect waves-light btn"> Contact! </a>
