<div class="container">
  
  <h2 *ngIf='messageList'>You have <span class='username'>{{messageList.length}}</span> message<span *ngIf='messageList.length > 1 || messageList.length === 0 '>s</span></h2>
  <div *ngFor="let message of messageList">
    <ul class= "collection with-header">

      <li class="collection-header"><h4>From: <span class='username'>{{message.from.username | capitalize}}</span></h4></li>
      <li class="collection-item"><label>{{message.created_at| date:fullDate}}</label></li>

      <li class ="collection-item"><br><p>{{message.content}}</p></li>
    </ul>
    <div class="row">
      <a [routerLink]="['/message',message.from._id]" class="waves-effect waves-light btn">Reply</a>

      <a (click)="delete(message._id)" class="waves-effect waves-light btn">Delete this message</a>
    </div>

  </div>

</div>
