h2{
  font-weight: bolder;
}
a{
  background-color: #588c73;
}
.error{
  font-size: 25px;
  font-weight: bold;
}
.waves-effect{
  background-color: maroon;
  float: right;
}
input[type=text]:focus{
  border-bottom: 1px solid maroon;
box-shadow: 0 1px 0 0 maroon;
}
input[type=password]:focus{
  border-bottom: 1px solid maroon;
box-shadow: 0 1px 0 0 maroon;
}
