

<form >
  <h2> Login</h2>
  <p class="error"> {{ error }} </p>
  <div class="col s6">
    <label for="">What are you?</label>
    <p>
      <input name="role" type="radio" id="test1" [(ngModel)]="formInfo.role" value="investor" [attr.disabled]="isDisabled?true:null"/>
      <label for="test1">Investor</label>

      <input name="role" type="radio" id="test2" [(ngModel)]="formInfo.role" value="startup" [attr.disabled]="isDisabled?true:null"/>
      <label for="test2">Startup</label>
    </p>
  </div>
  <br>

  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>



  <a (click)="login()" class="waves-effect waves-light btn"> login </a>

</form>
