<form >
  <h2> Login or Signup </h2>
  <div class="col s6">
    <label for="">What are you?</label>
    <p>
      <input name="role" type="radio" id="test1" [(ngModel)]="formInfo.role" value="user" [attr.disabled]="isDisabled?true:null"/>
      <label for="test1">Investor</label>

      <input name="role" type="radio" id="test2" [(ngModel)]="formInfo.role" value="startup" [attr.disabled]="isDisabled?true:null"/>
      <label for="test2">Startup</label>
    </p>
  </div>
  <br>
  
  <label> Username </label>
  <input type="text" [(ngModel)]="formInfo.username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="formInfo.password" name="password"/>



  <a (click)="login()" class="waves-effect waves-light btn"> login </a>
  <a (click)="signup()" class="waves-effect waves-light btn"> signup </a>

</form>
<p class="error"> {{ error }} </p>


<div *ngIf="user">
  <h1>{{user.role}}</h1>

  <h2> You are now logged in as {{ user.username }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre>


  <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
  <pre> {{ privateData | json }} </pre>

  <button (click)="logout()"> logout </button>
  <button (click)="getPrivateData()"> Get private data </button>
</div>
