.message-container{
  padding-top: 40px;
}
label{
  padding-top: 30px;
}
h2 {
  color: maroon;
  padding: 15px;
  font-weight: 300;
}
.username{
  font-weight: 900;
}
.waves-effect{
  background-color: maroon;
  float: right;
}
input:not([type]):focus{
  border-bottom: 1px solid maroon;
box-shadow: 0 1px 0 0 maroon;
}
