<div class="container">
  <form >
    <h2>What do you need? </h2>
    <h5> Fill out this simple form and let other users know what you're up to!</h5>
    <div class="col s6">
      <label for="">What area do you work in?</label>
      <p>
        <input name="category" type="radio" id="category1" [(ngModel)]="StartupForm.category" value="technology" [attr.disabled]="isDisabled?true:null"/>
        <label for="category1">Technology</label>
        <br>
        <input name="category" type="radio" id="category2" [(ngModel)]="StartupForm.category" value="services" [attr.disabled]="isDisabled?true:null"/>
        <label for="category2">Services</label>
        <br>
        <input name="category" type="radio" id="category3" [(ngModel)]="StartupForm.category" value="hardware" [attr.disabled]="isDisabled?true:null"/>
        <label for="category3">Hardware</label>
      </p>
      <label for="">What are you looking for?</label>
      <p>
        <input name="lookingfor" type="radio" id="lookingfor1" [(ngModel)]="StartupForm.lookingfor" value="CTO" [attr.disabled]="isDisabled?true:null"/>
        <label for="lookingfor1">CTO</label>
        <br>
        <input name="lookingfor" type="radio" id="lookingfor2" [(ngModel)]="StartupForm.lookingfor" value="Investors" [attr.disabled]="isDisabled?true:null"/>
        <label for="lookingfor2">Investors</label>
        <br>
        <input name="lookingfor" type="radio" id="lookingfor3" [(ngModel)]="StartupForm.lookingfor" value="Developers" [attr.disabled]="isDisabled?true:null"/>
        <label for="lookingfor3">Developers</label>
        <br>
        <input name="lookingfor" type="radio" id="lookingfor4" [(ngModel)]="StartupForm.lookingfor" value="Counseling" [attr.disabled]="isDisabled?true:null"/>
        <label for="lookingfor4">Counseling</label>
      </p>
    </div>
    <label for="">How pressing is your need?</label>
    <p>
      <input name="investinterest" type="radio" id="return1" [(ngModel)]="StartupForm.investinterest" value="short" [attr.disabled]="isDisabled?true:null"/>
      <label for="return1">Short Term</label>

      <input name="investinterest" type="radio" id="return2" [(ngModel)]="StartupForm.investinterest" value="medium" [attr.disabled]="isDisabled?true:null"/>
      <label for="return2">Medium Term</label>

      <input name="investinterest" type="radio" id="return3" [(ngModel)]="StartupForm.investinterest" value="long" [attr.disabled]="isDisabled?true:null"/>
      <label for="return3">Long Term</label>
    </p>
    <br>
    <label> How much $ do you need? </label>
    <input type="number" [(ngModel)]="StartupForm.budget" name="budget"/>
    <br>
  <div class="row">
    <h6>Please introduce your last revenues</h6>
    <div class="col s2 m2 lg2">
      <label>January</label>
      <input type="number" [(ngModel)]="StartupForm.lastrevenue[0]" name="lastrevenue[0]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>February</label>
      <input type="number" [(ngModel)]="StartupForm.lastrevenue[1]" name="lastrevenue[1]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>March</label>
      <input type="number" [(ngModel)]="StartupForm.lastrevenue[2]" name="lastrevenue[2]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>April</label>
      <input type="number" [(ngModel)]="StartupForm.lastrevenue[3]" name="lastrevenue[3]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>May</label>
      <input type="number" [(ngModel)]="StartupForm.lastrevenue[4]" name="lastrevenue[4]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>June</label>
      <input type="number" [(ngModel)]="StartupForm.lastrevenue[5]" name="lastrevenue[5]"/>
    </div>

  </div>
  <div class="row">
    <h6>Please share your revenue expectations for next year</h6>
    <div class="col s2 m2 lg2">
      <label>January</label>
      <input type="number" [(ngModel)]="StartupForm.expectedrevenue[0]" name="expectedrevenue[0]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>February</label>
      <input type="number" [(ngModel)]="StartupForm.expectedrevenue[1]" name="expectedrevenue[1]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>March</label>
      <input type="number" [(ngModel)]="StartupForm.expectedrevenue[2]" name="expectedrevenue[2]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>April</label>
      <input type="number" [(ngModel)]="StartupForm.expectedrevenue[3]" name="expectedrevenue[3]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>May</label>
      <input type="number" [(ngModel)]="StartupForm.expectedrevenue[4]" name="expectedrevenue[4]"/>
    </div>
    <div class="col s2 m2 lg2">
      <label>June</label>
      <input type="number" [(ngModel)]="StartupForm.expectedrevenue[5]" name="expectedrevenue[5]"/>
    </div>
  </div>

  </form>
  <a (click)="create()" [routerLink]="['/investors']" class="waves-effect waves-light btn"> Create your datasheet </a>
  <p class="error"> {{ error }} </p>

</div>
