
.brand-logo{
  padding-left: 20px;
}
nav{
  background-color: #edfff6;
  box-shadow: none;
}
.side-nav{
  background-color:#edfff6 ;

}
nav a{
  color: maroon;
  font-size: 18px;
  font-weight: 100;
}
nav a.brand-logo{
  font-size: 28px;
  font-weight: normal;
}
.username{
  font-weight: normal!important;
}
.message-number{
  height: 40px;
  width: 40px;
  display: inline;
  border-radius: 50%;
  background: black;
  color: white
}
