.collection.with-header {
  border-style: none;
}
.collection-item{
  margin-bottom: 15px;
}
.collection.with-header .collection-header{
  background-color: #f9d0d6;
}
.waves-effect{
  float: right;
  background-color: #e1d1d1;
  color: maroon;
}
.money{
  color: darkblue;
  font-weight: bolder;
  text-align: right;
}
.username{
  font-weight: 900;
}
.light{
  font-weight: lighter;
}
