.collection.with-header {
  border-style: none;
}
.collection-item{
  margin-bottom: 15px;
  background-color: #edfff6;
}
.collection.with-header .collection-header{
   background: linear-gradient(0deg, rgba(240,221,223,0), rgba(240,221,223,1));
}
.waves-effect{
  margin-right: 10px;
  float: right;
  background-color: #e1d1d1;
  color: maroon;
}
.money{
  color: #184242;
  font-weight: bolder;
  text-align: right;
}
.username{
  font-weight: 900;
  color: #184242;
}
.light{
  font-weight: lighter;
}
.leftlight{
  font-weight: lighter;
  text-align: right;
}
